<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class = "d-flex justify-content-center"><%= link_to 'Take a look at the available jobs',jobs_path , class:'btn btn-primary my-4' %></div>
