<br>
<br>
<h2 class = "d-flex justify-content-center">Congrats! You just applied for the job</h2>
<div class = "d-flex justify-content-center"><%= link_to 'Go back to the available jobs',jobs_path , class:'btn btn-primary my-4' %></div>
